# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Environment
.env
venv/
env/
ENV/
.venv/

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Pydantic / Mypy
.mypy_cache/
.dmypy.json
.pyre/

# GitHub workflows cache
.github/workflows/*.log
